@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.email__active {
  color: #FFDF74;
}

.email__dashed {
  border-bottom: 1px dashed #FFDF74;
}

.gray {
  color: #96A1AC;
}

.info__solid {
  border-bottom: 1px solid #96A1AC;
}

.solid__text {
  font-family: "Forum";
  font-size: 28px;
  font-weight: 400;
  line-height: 31px;
  color: #fff;
}

.main__btn {
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 12px 30px;
  border-radius: 100px;
  border: 0 none;
  background: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
  cursor: pointer;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.mt-1 {
  margin-top: 34px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  scroll-behavior: smooth;
  font-size: 14px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  margin-top: 15px;
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  flex-direction: column;
  width: 53%;
}
.nav__links-head {
  color: #fff;
}
.nav__links-head nav ul {
  display: flex;
  justify-content: space-between;
}
.nav__links-head nav ul li {
  list-style: none;
}
.nav__links-head nav ul li p {
  font-family: "Mulish";
  color: #96A1AC;
}
.nav__links-head nav ul li a {
  text-decoration: none;
  margin-left: 50px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Mulish";
}
.nav__links-body {
  padding-top: 20px;
}
.nav__links-body nav ul {
  display: flex;
  justify-content: space-between;
}
.nav__links-body nav ul li {
  list-style: none;
}
.nav__links-body nav ul li a {
  text-decoration: none;
  font-family: "Forum";
  font-size: 19px;
  color: #96A1AC;
  transition: all 0.3s ease;
}
.nav__links-body nav ul li a:hover {
  color: #FFDF74;
}
.nav__tel {
  display: flex;
  flex-direction: column;
}
.nav__tel-get button {
  margin-left: 20px;
  margin-top: 10px;
}

.info__content {
  padding: 50px 0 80px 0;
}
.info__intro {
  margin: 60px 0;
}
.info__intro h1 {
  font-size: 72px;
  font-family: "Forum";
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.info__intro p {
  max-width: 70%;
  font-family: "Mulish";
  font-size: 29px;
  font-weight: 300;
  line-height: 32px;
  color: #96A1AC;
  margin-top: 51px;
}
.info__intro p span {
  color: #CDD5DF;
  font-family: "Forum";
  line-height: 36px;
  font-weight: 400;
}
.info__lists {
  display: flex;
}
.info__list-item {
  color: #fff;
  max-width: 30%;
}
.info__list-head {
  display: flex;
  align-items: center;
}
.info__list-intro {
  margin-left: 12px;
}
.info__list-intro p {
  font-family: "Forum";
  font-size: 29px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
}
.info__list-body p {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #96A1AC;
  margin-top: 14px;
}

.info__get-list {
  margin-top: 50px;
  margin-left: 80px;
  position: relative;
}
.info__get-list img {
  position: absolute;
  z-index: 10000;
  left: -100px;
  top: -22px;
}
.info__get-list-btn {
  position: relative;
}
.info__get-list-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Forum";
  font-size: 25px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}
.info__get-list-btn p {
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
}
.info__get-list-text {
  margin-left: 60px;
  margin-top: 10px;
}
.info__get-list-wrap {
  max-width: 35%;
}

.production__intro {
  padding-top: 60px;
}
.production__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.production__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.production__content {
  padding: 0px 0;
}
.production__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  margin: 0 30px;
}
.production__slider-item img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 300px;
}
.production__slider-item h1 {
  font-family: "Forum";
  font-size: 28px;
  font-weight: 400;
  line-height: 31px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
  margin-bottom: 36px;
  text-transform: uppercase;
}
.production__slider-info {
  margin: 20px 0;
}
.production__slider-info-text {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 2px dotted #96A1AC;
}
.production__slider-info-text h4 {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #91959C;
}
.production__slider-info-text p {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #DDDFE4;
}
.production__slider-price button {
  text-transform: uppercase;
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Forum";
  font-size: 24px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding: 17px 35px;
}
.production__slider-price-text {
  display: flex;
  justify-content: space-between;
}
.production__slider-price-text p {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #91959C;
}
.production__slider-price-text h1 {
  font-family: "Forum";
  font-size: 33px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.production__slider-price-text h1 span {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.about__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.about__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.about__intro p {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.about__info-intro img {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 77px;
  height: 120px;
}
.about__info-intro h1 {
  font-family: "Forum";
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
  margin-top: 20px;
}
.about__info-intro p {
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}
.about__info-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__info-cards {
  margin-top: 71px;
}
.about__give-item {
  margin: 82px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__give-item p {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.about__give-get-center {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.about__give-get-list p {
  font-size: 14px;
}

.work__intro {
  padding-top: 80px;
}
.work__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.work__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.work__intro p {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.work__slider {
  margin-top: 48px;
}
.work__slider-item {
  padding: 0 12px;
}
.work__forms {
  margin-top: 95px;
}
.work__forms form {
  display: flex;
  justify-content: center;
}
.work__forms form input {
  padding: 12px 24px;
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 100px;
  outline: none;
  margin-left: 21px;
}
.work__forms form button {
  margin-left: 21px;
  text-transform: uppercase;
  box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.1490196078);
}

.reviews__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.reviews__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.reviews__slider-item {
  margin: 0 10px;
}

.payment__intro {
  margin: 40px 0;
}
.payment__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.payment__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.payment__intro p {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.delivery__intro {
  margin-top: 150px;
}

.workers__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.workers__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.workers__intro p {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.workers__content-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto;
  max-width: 726px;
}
.workers__content button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.contact__intro h1 {
  font-family: "Forum";
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);
}
.contact__intro img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.contact__intro p {
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.contact__content-item {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.contact__content-item p {
  font-family: "Mulish";
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  color: #fff;
  margin-left: 30px;
}
.contact__get-item button {
  text-transform: uppercase;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}