// Grandient
$gold-grandient: linear-gradient(0deg, #B1840E -11.43%, #FFE175 57.73%, #A77C22 109.19%, #FFF58C 158.08%, #8D5A07 192.86%);

// Colors
$gray: #96A1AC;
$light-gray: #CDD5DF;
$dark-gray: #91959C;
$dark-white: #DDDFE4;
$gold: #FFDF74; 