@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "_root";
@import "_elements";
@import "_responsive";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
body {
    scroll-behavior: smooth;
    font-size: 14px;
}
img {
    object-fit: cover;
}
// .info {
//     background-image: url("../img/bg/main_bg.png");
//     background-repeat: no-repeat;
//     background-size: 100%;
//     min-height: 100vh;
//     padding: 10px 0;
// }
.info__get-list-wrap-mobile {
    display: none;
}
.info__get-list-mb {
    display: none;
}
.chit {
    display: none;
}
.give__proposal-mb {
    display: none;
}
.info__text {
    display: none;
}
.navbar {
    // margin-top: 15px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav {
    &__links {
        display: flex;
        flex-direction: column;
        width: 53%;
    }
    &__links-head {
        color: #fff;
        nav {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    list-style: none;
                    p {
                        font-family: "Mulish";
                        color: $gray;
                    }
                    a {
                        text-decoration: none;
                        margin-left: 50px;
                        font-size: 14px;
                        font-weight: 400;
                        font-family: "Mulish";
                    }
                }
            }
        }
    }
    &__links-body {
        padding-top: 20px;
        nav {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        font-family: "Forum";
                        font-size: 19px;
                        color: $gray;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $gold;
                        }
                    }
                }
            }
        }
    }
    &__tel {
        display: flex;
        flex-direction: column;
    }
    &__tel-get {
        button {
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    &__tel-burger {
        display: none;
        background: transparent;
        border: 0 none;
        outline: 0 none;
    }
    &__tel-item {
        display: flex;
    }
}
.info {
    &__content {
        padding: 50px 0 80px 0;
    }
    &__intro {
        margin: 60px 0;
        h1 {
            font-size: 72px;
            font-family: "Forum";
            font-weight: 400;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        p {
            max-width: 70%;
            font-family: "Mulish";
            font-size: 29px;
            font-weight: 300;
            line-height: 32px;
            color: $gray;
            margin-top: 51px;
            span {
                color: $light-gray;
                font-family: "Forum";
                line-height: 36px;
                font-weight: 400;
            }
        }
    }
    &__intro-mobile {
        display: none;
        margin: 60px 0;
        h1 {
            font-size: 54px;
            font-family: "Forum";
            font-weight: 400;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
            // max-width: 60%;
        }
        p {
            max-width: 70%;
            font-family: "Forum";
            font-size: 29px;
            font-weight: 300;
            line-height: 32px;
            color: $gray;
            margin-top: 16px;
            span {
                color: $light-gray;
                font-family: "Forum";
                line-height: 36px;
                font-weight: 400;
            }
        }
    }
    &__text {
        p {
            font-family: "Mulish";
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: $dark-gray;
            margin-top: 24px;
        }
    }
    &__lists {
        display: flex;
    }
    &__list-item {
        color: #fff;
        max-width: 30%;
    }
    &__list-head {
        display: flex;
        align-items: center;
    }
    &__list-intro {
        margin-left: 12px;
        p {
            font-family: "Forum";
            font-size: 29px;
            font-weight: 400;
            line-height: 32px;
            color: #fff;
        }
    }
    &__list-body {
        p {
            font-family: "Mulish";
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: $gray;
            margin-top: 14px;
        }
    }
}

.info {
    &__get-list {
        margin-top: 50px;
        margin-left: 80px;
        position: relative;
        img {
            position: absolute;
            z-index: 900;
            left: -100px;
            top: -22px;
        }
    }
    &__get-list-btn {
        position: relative;
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Forum";
            font-size: 25px;
            font-weight: 400;
            line-height: 17px;
            color: #000;
        }
        p {
            font-family: "Mulish";
            font-size: 14px;
            font-weight: 800;
            line-height: 17px;
        }
    }
    &__get-list-text {
        margin-left: 60px;
        margin-top: 10px;
    }
    &__get-list-wrap {
        max-width: 35%;
    }
}
.production {
    // padding: 90px 0;
    &__intro {
        padding-top: 60px;
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
    }
    &__content {
        padding: 0px 0;
    }
    &__slider-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 300px;
        margin: 0 30px;
        img {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            max-width: 300px;
        }
        h1 {
            font-family: "Forum";
            font-size: 28px;
            font-weight: 400;
            line-height: 31px;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
            margin-bottom: 36px;
            text-transform: uppercase;
        }
    }
    &__slider-info {
        margin: 20px 0;
    }
    &__slider-info-text {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        border-bottom: 2px dotted $gray;
        h4 {
            font-family: "Mulish";
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: $dark-gray;
        }
        p {
            font-family: "Mulish";
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: $dark-white;
        }
    }
    &__slider-price {
        button {
            text-transform: uppercase;
            box-shadow: 10px 10px 14px 0px #00000026;
            font-family: "Forum";
            font-size: 24px;
            font-weight: 400;
            line-height: 17px;
            text-align: center;
            padding: 17px 35px;
        }
    }
    &__slider-price-text {
        display: flex;
        justify-content: space-between;
        p {
            font-family: "Mulish";
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: left;
            color: $dark-gray;
        }
        h1 {
            font-family: "Forum";
            font-size: 33px;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
            span {
                font-family: "Mulish";
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}
.about {
    &__intro {
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
        p {
            font-family: "Mulish";
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
    }
    &__info-intro {
        img {
            margin: 10px auto;
            display: flex;
            justify-content: center;
            object-fit: cover;
            width: 77px;
            height: 120px;
        }
        h1 {
            font-family: "Forum";
            font-size: 28px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
            margin-top: 20px;
        }
        p {
            font-family: "Mulish";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            color: #fff;
            display: flex;
            justify-content: center;
        }
    }
    &__info-card-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info-cards {
        margin-top: 71px;
    }
    &__give-item {
        margin: 82px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-family: "Mulish";
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
    }
    &__give-get-center {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__give-get-list {
        p {
            font-size: 14px;
            color: #000;
        }
    }
}
.work {
    &__intro {
        padding-top: 80px;
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
        p {
            font-family: "Mulish";
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
    }
    &__slider {
        margin-top: 48px;
    }
    &__slider-item {
        padding: 0 12px;
    }
    &__forms {
        margin-top: 95px;
        form {
            display: flex;
            justify-content: center;
            input {
                padding: 12px 24px;
                box-shadow: 10px 10px 14px 0px #00000026;
                border-radius: 100px;
                outline: none;
                margin-left: 21px;
            }
            button {
                margin-left: 21px;
                text-transform: uppercase;
                box-shadow: 10px 10px 14px 0px #00000026;
            }
        }
    }
}
.reviews {
    &__intro {
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
    }
    &__slider-item {
        margin: 0 10px;
    }
}
.payment {
    &__intro {
        margin: 40px 0;
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
        p {
            font-family: "Mulish";
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
    }
}
.delivery__intro {
    margin-top: 150px;
}

.workers {
    &__intro {
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
        p {
            font-family: "Mulish";
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
    }
    &__content-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 60px auto;
        max-width: 726px;
    }
    &__content {
        button {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
        }
    }
}
.contact {
    &__intro {
        h1 {
            font-family: "Forum";
            font-size: 38px;
            font-weight: 400;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: $gold-grandient;
        }
        img {
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }
        p {
            font-family: "Mulish";
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    &__content-item {
        display: flex;
        align-items: center;
        margin: 30px 0;
        p {
            font-family: "Mulish";
            font-size: 36px;
            font-weight: 400;
            line-height: 45px;
            text-align: left;
            color: #fff;
            margin-left: 30px;
        }
    }
    &__get-item {
        button {
            text-transform: uppercase;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            max-width: 30%;
        }
    }
}
@media screen and (max-width: 1096px) {

    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
    .nav__linkss {
        display: none;
    }
    .nav__tel-get {
        display: none;
    }
    .nav__links-head {
        display: none;
    }
    .nav__links-body {
        display: none;
    }
    .nav__tel-burger {
        display: block;
    }
    .nav__tel {
        display: flex;
    }
    .nav__tel-item {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .info__get-list-mb {
        display: none;
    }
    .solid__text {
        font-size: 25px;
        margin-top: 9px;
        margin-right: 10px;
    }
    // .info__get-list {
    //     width: 100%;
    // }
    .info__get-list-btn a {
        font-size: 23px;
    }
    .info {
        background-size: cover;
        padding: 10px 0;
    }
    .info__intro-mobile {
        display: block;
        margin: 80px 0;
    }
    .info__intro {
        display: none;
    }
    .info__lists {
        display: none;
    }
    .info__get-list-wrap {
        display: none;
    }
    .info__content {
        padding: 50px 0 55px 0;
    }
    .info__get-list-btn-mb {
        max-width: 50%;
    }
    .production__intro {
        padding-top: 0;
    }
    .production__intro-mx {
        display: none;
    }
    .production__intro-mobile {
        display: block;
    }
    .production__intro-mobile h1 {
        margin-top: 16px;
    }
    .production__intro p {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .about__give-item {
        margin: 28px auto;
    }
    .about__intro .chit {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .about__info-card-item {
        flex-direction: column;
        margin-left: 30px;
    }
    .about__info-intro {
        display: flex;
        justify-content: left;
        margin-left: 20px;
        width: 100%;
    }
    .about__intro-text {
        margin-left: 20px;
    }
    .about__intro-text h1,
    p {
        text-align: left;
    }
    .about__intro h1 {
        margin-top: 30px;
    }
    .about__info-intro p {
        max-width: 50%;
        text-align: left;
    }
    .about__give-mx {
        display: none;
    }
    .about__give-mobile {
        display: block;
    }
    .info__get-list-mx {
        display: none;
    }
    .info__get-list-form {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        input {
            padding: 16px 5%;
            border-radius: 100px;
            box-shadow: 10px 10px 14px 0px #00000026;
        }
    }
    .work {
        padding: 20px 0;
    }
    .work__forms form {
        justify-content: left;
    }
    .work__froms form .give__project {
        font-family: "Forum";
        font-size: 20px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    .work__intro {
        padding-top: 0;
    }
    .work__intro h1 {
        margin-top: 31px;
    }
    .work__intro .chit {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .work__form-input {
        display: none;
    }
    .reviews {
        padding-top: 30px;
    }
    .reviews__intro .chit {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .reviews__intro h1 {
        margin-top: 30px;
    }
    .reviews__intro-slide p {
        color: #fff;
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 22px;
    }
    .give__proposal-mx {
        display: none;
    }
    .give__proposal-mb {
        display: flex;
        justify-content: left;
        max-width: 100%;
        position: absolute;
        left: 0;
        font-family: "Forum";
        font-size: 20px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #221f14;
    }
    .work__forms {
        position: relative;
        margin-top: 16px;
    }
    .work__forms form button {
        margin-left: 0;
    }
    .workers__subtitle-mx {
        display: none;
    }
    .workers__subtitle-mb {
        display: block;
    }
    .workers__content-img {
        margin: 17px auto;
    }
    .payment {
        padding: 29px 0;
    }
    .payment__intro .chit {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .payment__intro h1 {
        margin: 20px auto;
    }
    .delivery__intro {
        margin-top: 45px;
    }
    .delivery__intro p {
        margin: 25px auto;
    }
    .delivery__intro .nth-child-2 {
        margin-top: 42px;
        padding-bottom: 60px;
    }
    .workers {
        padding: 16px 0;
    }
    .workers__intro .chit {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .workers__intro h1 {
        margin: 21px auto;
    }
    .workers__intro p {
        margin-top: 24px;
    }
    .workers__content button {
        width: 100%;
    }
    .contact {
        padding: 67px 0;
    }
    .contact__intro .chit {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-gray;
    }
    .contact__intro h1 {
        margin-top: 30px;
    }
    .contact__content-item {
        display: flex;
        justify-content: center;
        margin: 50px auto;
    }
    .contact__content-item p {
        font-family: "Mulish";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
    .contact__content-item-gps {
        width: 23px;
        height: 32px;
    }
    .contact__content-item-phone {
        width: 27px;
        height: 38px;
    }
    .contact__content-item-mail {
        width: 27px;
        height: 21px;
    }
    .content-item-gps {
        max-width: 40%;
    }
    .contact__get-item {
        margin-top: 75px;
    }
    .contact__get-item button {
        max-width: 100%;
        width: 100%;
        font-family: "Forum";
        font-size: 20px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    .nav__links {
        width: 0;
    }
    .info__get-list-wrap-mobile {
        display: block;
    }
    .info__get-list-btn .main__btn {
        width: 100%;
    }
}